.btn-explorer {
  background-color: #FED986;
  width: 100%;
}

.btn-rdv {
  font-size: 1.2rem;
  width: 100%;
}

.logo-congratulation {
  width: 100%;
    object-fit: cover;
    object-position: center;
}
