.relaxation-container {
  min-height: 90vh;
}

.img-relaxation {
  width: 322px;
  height: 322px;
  border-radius: 10px;
}

.respiration-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.respiration-barre {
  height: 50px;
}
