// app/assets/stylesheets/pages/_splash.scss
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}
.splash-screen {
  text-align: center;
}
.logo img {
  width: 150px;
  height: auto;
}
h1 {
  font-size: 2em;
  color: #000000;
}
.highlight {
  color: #ff0000;
}
