// app/assets/stylesheets/pages/_splash.scss
.splash-page {
  .splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d6d7d2; // Couleur identique au fond de l'image
    margin: 0;
  }

  .center-logo img {
    max-width: 400px; // Taille ajustée
    width: 100%;
    height: auto;
  }
}


// Désactivation du footer uniquement pour cette page
.splash-page footer {
  display: none;
}
