// app/assets/stylesheets/pages/_splash.scss
.splash-page {
  .splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6; // Couleur identique à celle du fond du logo
    margin: 0;
  }

  .center-logo img {
    max-width: 200px; // Ajustez si nécessaire
  }
}

// Désactivation du footer uniquement pour cette page
.splash-page footer {
  display: none;
}
