<h1><%= @document.title %></h1>
<div class="video">
  <video controls>
    <source src="<%= @document.url %>" type="video/mp4">
    Votre navigateur ne supporte pas la lecture des vidéos.
  </video>
</div>
<p><%= @document.description %></p>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const video = document.querySelector("video");
    video.onended = function() {
      // Rediriger vers le quiz à la fin de la vidéo
      window.location.href = "<%= quizz_journeys_document_path(@journeys_document) %>";
    };
  });
</script>
