<%# app views pages calendly html erb %>
<div class="calendly-container">
  <h1>Prendre rendez-vous</h1>
  <p>Veuillez choisir une date et une heure pour votre rendez-vous :</p>

  <div class="calendly-inline-widget"
       data-url="https://calendly.com/psychologue-peuravion/rdv-de-consultation-avec-velina-negovanska"
       style="min-width:300px;height:500px;">
  <div class="calendly-inline-widget"
      data-url="https://calendly.com/psychologue-peuravion/rdv-de-consultation-avec-velina-negovanska"
      style="min-width:300px;height:500px;">
  </div>
</div>
