<div class='container d-flex justify-content-center align-items-center'>
  <div class='row'>
    <div class='col'>
      <h1>Consulter</h1>
      <p>Prendre Rendez-vous avec votre expert Velina Negovanska.</p>
    </div>
  </div>
</div>
