<%# app/views/pages/explorer.html.erb %>
<div class='container d-flex justify-content-center align-items-center'>
  <div class='row'>
    <div class='col'
<h1>Explorer</h1>
      <p>Bienvenue sur la page Explorer.</p>
      <p>Vous pouvez ici consulter des contenus adaptés à vos peurs.</p>
  </div>
</div>
