<div class='container d-flex justify-content-center align-items-center'>
  <div class='row'>
    <div class='col'>
      <h1>Favoris</h1>
      <p>Bienvenue dans la section Favoris. Retrouvez ici vos éléments préférés pour un accès rapide et facile.</p>
    </div>
  </div>
</div>
