<h1>Favoris</h1>
<p>Bienvenue dans la section Favoris. Retrouvez ici vos éléments préférés pour un accès rapide et facile.</p>


<%= link_to "Retour à l'accueil", home_path, class: "btn btn-primary" %>
