<div class='container d-flex justify-content-center align-items-center'>
  <div class='row'>
    <div class='col'>
    <h1>Relaxer</h1>
  <p>Découvrez des exercices, des outils ou des contenus pour vous détendre et vous recentrer.</p>
    </div>
  </div>
</div>
