<%# app/views/pages/splash.html.erb %>
<!DOCTYPE html>
<html>
<body class="splash-page">
  <div class="splash-screen">
    <div class="center-logo">
      <img src="<%= asset_path('splash/logo.svg') %>" alt="FlyCalm Logo">
    </div>
  </div>
  <script>
    setTimeout(function() {
      window.location.href = "<%= home_path %>";
    }, 5000);
  </script>
</body>
</html>
