<%# app/views/pages/splash.html.erb %>
<div class="splash-screen">
  <div class="logo">
    <img src="<%= asset_path('splash/logo.svg') %>" alt="FlyCalm Logo">
  </div>
  <h1>Fly<span class="highlight">Calm</span></h1>
</div>
