<%# app views relaxer bar.html.erb %>
<h1>Respiration Barre</h1>
<div data-controller="bar-animation" class="breath-bar" style="width: 50px; background-color: #3498db; height: 200px;"></div>
<p>Suivez la barre qui monte et descend.</p>
