<%# app views relaxer circle.html.erb %>
<div class="back-button">
  <%= link_to "â†", relaxer_path, class: "back-link" %>
</div>
<h1>Respiration Cercle</h1>
<div data-controller= "circle-animation" class="circle"></div>
<p>Suivez le cercle qui respire.</p>
