<%# app views relaxer index.html.erb %>
<h1>Choisissez une méthode de relaxation</h1>
<div class="options">
  <div class="option">
    <h2>Respiration Cercle</h2>
    <a href="/relaxer/circle" class="btn">Voir le cercle</a>
  </div>
  <div class="option">
    <h2>Respiration Barre</h2>
    <a href="/relaxer/bar" class="btn">Voir la barre</a>
  </div>
</div>


