// app assets stylesheets components check_boxes.scss
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkbox-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Rend les items flexibles pour occuper la largeur du conteneur parent */
}

.custom-checkbox {
  position: absolute;
  transform: scale(0);
}

.custom-checkbox + label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #ffffff;
  color: #000000;
  width: 100%; /* Assure que tous les labels ont la même largeur */
  box-sizing: border-box; /* Inclut le padding et les bordures dans la largeur */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-checkbox:checked + label {
  background-color: #ffeb99; /* Couleur jaune pour l'état coché */
  border-color: #ffcc33;
  color: #333333;
}

.custom-checkbox + label::before {
  content: '✔';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #dcdcdc;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 12px;
  color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-checkbox:checked + label::before {
  background-color: #ffcc33;
  border-color: #ffcc33;
  color: white;
}
