<div class="container">
  <!-- Header -->
  <div class="header">

    <h1>Explorons d'abord tes <br> <span class="highlight">craintes en vol</span> 😊</h1>
  </div>

  <!-- Image -->
  <div class="d-flex flex-column align-items-center mb-5 pb-4">
    <%= image_tag("home/journey-image.png", alt: "Image descriptive", class: "main-image") %>

    <!-- Description -->
    <p class="description-text pt-4">
      Ceci nous aidera à personnaliser <br> le contenu de <span class="highlight">ton programme</span>.
    </p>

    <!-- Formulaire -->
    <%= simple_form_for @journey , html: { class: "form-new-journey"} do |f| %>
      <div class="checkbox-group">
        <%= f.association :fears, as: :check_boxes, label: false, input_html: { class: "custom-checkbox" }, item_wrapper_class: 'checkbox-item' %>
      </div>
      <%= f.submit "Soumettre", class: "btn btn-primary mt-4" %>
    <% end %>
  </div>
</div>
